In [3]:
import os
import pandas as pd
import numpy as np

In [4]:
path = './DataSet/'
#Getting the file list
files = []
# r=root, d=directories, f = files
for r, d, f in os.walk(path):
    for file in f:
        if '.csv' in file:
            files.append(os.path.join(r, file))

#289
dataset = pd.read_csv(files[0])

## DS for clustering and classification
The goal of this block is to reshape data for analysis and mining models. The structure will be a dataset with 24 hours of data arranged in one row such marked agains the dataset/area it is extracted. The analysis will be done to recognize the types of areas on the basis of their daily traffic pattern.<br>
<b> Structure: <b>
- The rows will contain the areas their traffic details.
-

In [5]:
new_data = []
#Adding new column tags
new_data.append(["Area"] + list(dataset.iloc[:288,0]))
c = 1
#Iterating data through files
for x in files:
    dataset = pd.read_csv(x)
    new_data.append(["A"+str(c)] + list(dataset.iloc[:288,1]))
    c+=1

In [6]:
#Adding vertical rows
data = np.array(new_data)
dataframe = pd.DataFrame(data[1:],columns=data[0])

In [7]:
#Converting Dataframe to CSV
dataframe.to_csv("Dataset.csv")

### Visualization Data
This data is to be used in visualization tools to ad-hoc analyse the data.

In [20]:
import datetime

In [25]:
new_data = []
#Adding new column tags
new_data.append(["Area"] + list(dataset.iloc[:,0]))
c = 1
#Iterating data through files
for x in files:
    dataset = pd.read_csv(x)
    new_data.append(["A"+str(c)] + list(dataset.iloc[:,1]))
    c+=1

In [26]:
vis = np.array(new_data).transpose()

In [27]:
vis[0][0] = 'Date'

In [40]:
day_of_week = []
month = []
hour = []
for i in range(1,len(vis)):
    #Getting the day of week for detecting weekends
    day = datetime.datetime.strptime(vis[i][0], '%Y-%m-%d %H:%M:%S').strftime('%a')
    day_of_week.append(day)  
    #Getting the month for vacation times
    mon = int(datetime.datetime.strptime(vis[i][0], '%Y-%m-%d %H:%M:%S').strftime('%m'))
    month.append(mon)
    hr = int(datetime.datetime.strptime(vis[i][0], '%Y-%m-%d %H:%M:%S').strftime('%H'))
    hour.append(hr)

In [44]:
#Creating the dataframe
dataset = pd.DataFrame(vis[1:,:],columns=vis[0])

In [45]:
#Adding the new columns
dataset['day'] = day_of_week
dataset['month'] = month
dataset['hour'] = hour

In [46]:
dataset.head()

,Date,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,A29,A30,A31,A32,A33,A34,A35,day,month,hour
0,2015-10-04 00:00:00,3,6,7,11,7,10,21,7,17,...,0,28,20,8,37,113,3,Sun,10,0
1,2015-10-04 00:05:00,12,0,6,3,7,8,13,30,50,...,23,60,19,0,105,43,16,Sun,10,0
2,2015-10-04 00:10:00,4,8,10,6,10,21,13,37,47,...,13,66,14,0,93,31,9,Sun,10,0
3,2015-10-04 00:15:00,9,4,4,7,13,18,15,23,39,...,12,46,8,0,80,27,12,Sun,10,0
4,2015-10-04 00:20:00,5,4,7,3,7,12,20,21,38,...,13,51,8,0,80,27,19,Sun,10,0

In [47]:
#Saving the dataset
dataset.to_csv("Visualization.csv")